<link rel="import" href="../polymer/polymer.html">

<!--
`Search-in`
Search for an object.

@demo demo/index.html
-->

<dom-module id="Search-in">
  <template>
    <style>
      :host {
        display: block;
      }

      .error {
        background: red;
      }
    </style>
    <h2>Hello!</h2>

    <form>
      <input class$="{{ regex }}" label="Your name" value="{{ valor::input }}">
      <button type="button" on-tap="handleTap">Enviar</button>

      <br>
      <br> {{ valor }}

    </form>

  </template>

  <script>
    Polymer({

      is: 'Search-in',

      //Send an alert from input.
      handleTap: function () {
        this.validation();
        this.fire('Search-in', this.valor);
      },

      //Validate pattern.
      validation: function () {
        if (!this.valor) {
          this.regex = "error";
        } else {
          this.regex = '';
        }
      },

      properties: {
        //Pattern to validate.
        regex: {
          type: String,
          value: '',
        },

        //Value from input.
        valor: {
          type: String,
          value: '',
        },
      },

    });
  </script>
</dom-module>